<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
  <style>
    body {font-family: sans}
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>Neues Aufgabenserie</h1>
  Titel: Einmaleins <button>edit</button>
  <hr>
  <div id="app">
    <div v-if="isLoggedIn">
      Sie sind eingelogt <button v-on:click="logout">Ausloggen</button>
    </div>
    <div v-else>
      <input type="text" v-model="username" placeholder="Username"><br>
      <input type="password" v-model="password" placeholder="Password" @keyup.enter="login"><br>
      <button @click="login">Login</button>
    </div>

    <h2>Fragen ({{numExcercises}}):</h2>
    <ul>
      <li v-for="(ex, index) of excercises">
        <span v-if="ex.editing">
          <input 
            v-model="ex.tempText" 
            @keyup.enter="saveExcercise(ex)"
            @keyup.esc="cancelEditingExcercise(ex)"
          >
          <button @click="saveExcercise(ex)">save</button>
          <button @click="cancelEditingExcercise(ex)">cancel</button>
        </span>
        <span v-else>
          <strong>{{ex.text}}</strong>
          <button @click="editExcercise(ex)">edit</button>
          <button @click="deleteExcercise(ex)">delete</button>
        </span>
      </li>
      <li><button @click="addExcercise">+</button></li>
    </ul>
  </div>
  <hr>

  <ol>
    <li>
      <strong>1 + 1</strong> <button>x</button>
      <ul>
        <li>1 <input type="checkbox" disabled> <button>x</button></li>
        <li>2 <input type="checkbox" disabled checked> <button>x</button></li>
        <li><input type="text"><input type="checkbox" name="correct"> <button>save</button><button>cancel</button></li>
      </ul>
    </li>
    <li>
      <strong>2 + 3</strong> <button>x</button>
      <ul>
        <li>4 <input type="checkbox" disabled> <button>x</button></li>
        <li>5 <input type="checkbox" disabled checked> <button>x</button></li>
        <li><button>+</button></li>
      </ul>
    </li>
    <li><button>+</button>
    </li>
  </ol>

  <button>go</button>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        isLoggedIn: true,
        excercises: [],
        username: '',
        password: '',
      },
      computed: {
        numExcercises() {
          return this.excercises.length
        },
      },
      methods: {
        login() {
          if (this.username === 'admin' && this.password === 'admin') {
            this.isLoggedIn = true
            this.username = ''
            this.password = ''
            console.log('Wir sind eingeloggt')
          } else {
            alert('Username/Passwort falsch')
            this.password = ''
          }
        },
        logout() {
          this.isLoggedIn = false
          console.log('Wir sind ausgeloggt')
        },
        addExcercise() {
          this.excercises.push({text: '', editing: true, tempText: ''})
        },
        editExcercise(ex) {
          ex.editing = true
          ex.tempText = ex.text
        },
        saveExcercise(ex) {
          ex.editing = false
          ex.text = ex.tempText
          // Änderungen im localStorage abspeichern
          localStorage.setItem('excercises', JSON.stringify(this.excercises))
        },
        cancelEditingExcercise(ex) {
          ex.editing = false
        },
        deleteExcercise(ex) {
          let index = this.excercises.indexOf(ex)
          this.excercises.splice(index, 1)
          localStorage.setItem('excercises', JSON.stringify(this.excercises))
        },
      },
      created() {
        let excercises = JSON.parse(localStorage.getItem('excercises'))
        if (excercises !== null) {
          for (let ex of excercises) {
            console.log(ex)
            this.excercises.push(ex)
          }
        }
      }
    })
  </script>
</body>
</html>
